<h2>Comments</h2>
<ul>
<%@dream.comments.each do |comment| %>
  <p><a href="/users/<%=comment.user_id%>"><%=comment.user.name%></a></span> at <%=comment.created_at%><span class="user"></p>
  <li><%=comment.content%></li>
<%end%>
</ul>

<%if current_user%>
  <%=erb :'comment/new', layout:false %>
<%end%>