
<div align="center">
  <br>
  <h1><%= @current_category.title %></h1>
  <br>
  <hr width="50%">
<% @dreams.each do |dream| %>
  <br>
 	<h5><a href="<%=dream.category_id%>/dreams/<%=dream.id%>" style="text-decoration:none; color:black; font-size:20px"><%= dream.title %></a> </h5>
  <br>
  <hr width="33%">
  <% end %>
<br>
<br>
<br>
<br>
<br>
<br>

<form action="/categories/<%= @current_category.id %>/dreams/new" method="GET">
   <input style="background:white; border:none; font-size:15px " type="submit" value="Add Dream" >
</form>


</div>