<h1><%=@user.name%>'s Page</h1>

<% @user.dreams do |dream| %>
  <a href="/users/<%= users.id %>/dream/<%= dream.id %>">
    <%= dream.content %>
  </a>
<% end %>

<% if current_user %>
<form action="/categories" method="GET">
    <input type="submit" value="View All Categories">
</form>

<br>

<form action="/categories/new" method="GET">
    <input type="submit" value="Add Category">
</form>

</br>

<form action="/categories/:category_id/dreams/new" method="GET">
   <input type="submit" value="Add Dream">
</form>

<br>

<form action="/users/<%=@user.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Account">
  </form>
<%end%>

