

<div id="banner2">
  <h1>Dream on <%=@user.name%></h1>
</div>


<div class="container">
  <% @user.dreams do |dream| %>
  <a href="/users/<%= users.id %>/dreams/<%= dream.id %>">
    <%= dream.content %>
  </a>
<% end %>



  <% if current_user %>
  <div><form action="/categories" method="GET">
        <input style="background:white; border:none" type="submit" value="View All Categories">
    </form></div>
 
 <div> <form action="/categories/new" method="GET">
       <input style="background:white; border:none" type="submit" value="Add Category">
   </form></div>


  <div><form action="/users/<%=@user.id%>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input style="background:white; border:none" type="submit" value="Delete Account">
      </form></div>
  <%end%>

</div>
