<!-- #ZM Do not use inline styling, do not use <br> tags. -->
<container align="center">
  <br>
  <br>

  <div class="title">
      <!-- #ZM Puts spaces after your embed ruby symbols -->
    <h1><%=@current_dream.title%></h1>
  </div>
  <br>
  <br>
    <hr width="50%">
    <br>

  <div style="height:200px;500px;margin-top:50px " align="center" class="dream-content">
    <p style="width:300px;height:50%"><%=@current_dream.content%><p>
  </div>
  <hr width="50%">

  <br>
  <br>
  <h2>Comments</h2>
  <br>
  <br>
  <hr width="33%">
  <br>


  <ul>
  <%@current_dream.comments.each do |comment| %>
  <!-- #ZM - This looks like a perfect place for us to create a partial and send in locals to much code in one loop here -->
    <p><span class="user"><a style="text-decoration:none; color:black" href="/users/<%=comment.user_id%>"><%=comment.user.name%></a> at <%=comment.created_at%></span></p>
    <br>
    <br>
    <li style="list-style-type:none" ><span class="user-comment"><%=comment.content%></span></li>
    <br>
    <br>
    <br>

    <hr width="33%">
    <br>


  <%end%>


  </ul>


    <%=erb :'comment/new', layout:false %>
  <br>
  <br>

</container>